<div class="col-8 content">
  <div class="grid-center-spaceAround">
    <md-card>
      <md-card-title class="grid-center param">游戏设置</md-card-title>
      <hr>
      <md-card-content>
      <form (ngSubmit)="onCreateGame()" #gameSettings="ngForm">
        <div class="form-group">
          <label for="numPlayers">请输入游戏人数: </label>
            <input type="number" class="form-control" id="name" required [(ngModel)]="settings.numPlayers" name="numPlayers" #name="ngModel">
        </div>
        <div class="form-group">
          <label for="numWolves">请输入狼人人数: </label>
            <input type="number" class="form-control" id="name" required [(ngModel)]="settings.numWolves" name="numWolves" #name="ngModel">
        </div>
        <div class="form-group">
          <label>是否有猎人: </label>
          <select (change)="setHunter($event.target.value)">
            <option *ngFor="let val of yesOrNo">{{val}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>是否有白痴: </label>
          <select (change)="setDumbass($event.target.value)">
            <option *ngFor="let val of yesOrNo">{{val}}</option>
          </select>
        </div>
        <button [disabled]="settings.numPlayers<3||settings.numWolves<1" md-raised-button class="bottom" color="green">创建游戏</button>
      </form>
      <p class="warn" *ngIf="settings.numPlayers<3||settings.numWolves<1">请填写完整</p>
    </md-card-content>
  </md-card>
  </div>
</div>